@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root{
    --fonte1 :var(--fonte1) Verdana, Geneva, Tahoma, sans-serif;
    --fonte2 :"Playfair Display", serif;
    --fonte3 : "Bree Serif", serif;

}

*{
    margin: 0px;
    padding: 0px;
}
html, body{        
    background-color: gray;
    min-height: 100vh;
    font-family: var(--fonte1);
}
header{
    background-color: rgb(15, 85, 50);
    color: white;
    text-align: center;
}
header > h1{
    font-size: 8vw;
    font-family: var(--fonte2);
    padding-top: 30px;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 30px;
    font-size: 1em;
        
}
header a:hover, footer a:hover{
    text-decoration: underline;
}

header a, footer a{       
    color: white;
    font-weight: bolder;
    text-decoration: none;    
}

section.normal{
    font-size: 2vw;
    background-color: white;
    color: black;    
}

section.imagem{         
    box-shadow: 6px 6px 13px 6px rgba(0, 0, 0, 0.61);
    background-color: gray;
    color: white;
    background-size: cover;
    background-attachment: fixed;    
}

section.imagem > p{
    font-size: 2vw; 
    text-shadow: 2px 2px opx black;
    background-color: rgba(54, 51, 51, 0.356);
    display: inline-block;
    padding: 2px;
    
}

section#img01{
   background-image: url(imagens/background001.jpg);
   background-position: center;
   
}
section#img02{
    background-image: url(imagens/background002.jpg);    
    
}
section{    
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2.4em;
    padding-left: 30px;
}
section > p{
    padding-bottom: 2em;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
} 
footer > p{
    font-size: 1em;
}   